<html>
  <head>
    <title>Fortune Teller App</title>
   <link rel="stylesheet" type="text/css" href="/my-style-dir/fortune-style.css">
  </head>
  <body>
      <div class="pagetitle">
        <h1>Prepare for Your Fortune</h1>
        <img src="/my-images-dir/fortune-ball.png"/>
      </div>
      <div class="main">
        <form method="post">
          <label for="user_astrological_sign">Your Astrological Sign:</label>
          <select name="user_astrological_sign">
            <option value="Aquarius">Aquarius</option>
            <option value="Pisces">Pisces</option>
            <option value="Aires">Aires</option>
            <option value="Taurus">Taurus</option>
            <option value="Gemini">Gemini</option>
            <option value="Cancer">Cancer</option>
            <option value="Leo">Leo</option>
            <option value="Virgo">Virgo</option>
            <option value="Libra">Libra</option>
            <option value="Scorpio">Scorpio</option>
            <option value="Sagittarius">Sagittarius</option>
            <option value="Capricorn">Capricorn</option>
          </select>
          <input type="submit" value="Align the Stars!">
        </form>
      </div>
  </body>
</html>
