/* General Styling */
body {
  margin: 0;
}

.pic {
  height: 100%;
}

/* CSS flex-box specific styling */
#row1 {
  display: flex;
  height: 100px;
  /*justify-content: ;*/
}

#vg2 {
  order: 0;
  flex:0 0 auto;
}

/* Insert the styling for the remaining paintings below */
